.homepage
{
    width: 100vw;
    background-color: #ffe2fd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.WelcomeHomePage
{
    font-weight: bold;
    display: flex;
    color: #000000;

}

.Intropart
{
    display: flex;
    padding-top: 180px;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.PreviewVideo
{
    width: 556px;
    height: 320px;
    object-fit: cover;
    border-radius: 30px;
}
.LeftPart
{
    padding-left: 170px;
    padding-top: 140px;
}
.VideoPart
{
    padding-top: 150px;
    padding-right: 170px;
}


.des
{
    font-size: 25px;
    display: flex;
    color: #000000;
    left: 240px;
    top: 347px;
    max-width: 500px;
    justify-content: center;
    text-align: center;
}
.tryit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 330px;
}

.tryit {
    padding: 10px 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    background-color: #dc78a4;
    color: white;
    border: 1px solid #4a0122;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tryit:hover {
    color: #c86380;
    background-color: transparent;
    border-color: #e35e92;
}