.scroll-container {
    max-height: 600px;
    max-width: 600px;
    overflow-y: auto;
    justify-items: center;
    justify-content: center;


}

.scroll-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.user-card {
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
    cursor: pointer;
}

.user-card.selected {
    border: 2px solid;
    animation: rgbBorder 1.5s infinite linear;
    outline: none;
}

@keyframes rgbBorder {
    0% { border-color: red; }
    25% { border-color: yellow; }
    50% { border-color: lime; }
    75% { border-color: cyan; }
    100% { border-color: red; }
}

.card-img
{
    width: 100px;
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
}
