
.wallpaper
{
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}
.wallpaper-img
{

    width: 1920px;
    height: 500px;
    object-fit: cover;

}
.profile
{
    display: flex;
    align-items: center;
    padding-left: 90px ;
}
.avatar
{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-left:100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.name {
    margin: 20px;
}
.bio
{
    margin-top: 100px;
    margin-left: -60px;
}
.cardShowcase {
    background-color: #D9D9D9;
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cardImg
{
    width: 300px;
    height: 400px;

}
