
.login-page {
    width: 100vw;
    height: 100vh;
    background-color: #f8fcff;
    color: black;
    align-items: center;
    font-family: 'Jersey25', sans-serif;

}

.icon
{
    width: 60px;
    height: 60px;
    display: flex;
    position: fixed;
    left: 50px;
    top: 50px;
    border-radius: 50%;
}
.login-title
{
    font-size: 50px;
    display: flex;
    position: absolute;
    left: 820px;
    top: 150px;
    border: none;
}
.login-form
{
    width: 700px;
    height: 800px;
    display: flex;
    position: absolute;
    left: 550px;
    top: -30px;

}
.banner
{
    width: 500px;
    height: 600px;

    object-fit: contain;
    display: flex;
    position: absolute;
    left: 1050px;
    top: 200px;
}

.username-label
{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position: absolute;
    left: 150px;
    top: 350px;
    border: none;
}
.username-input
{
    width: 400px;
    height: 50px;
    display: flex;
    position: absolute;
    left: 150px;
    top: 400px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f8fcff;
    color: black;
    font-size: 20px;
    padding-left: 10px;
}
.username-input:focus
{
    outline: none;
}
.password-input
{
    width: 400px;
    height: 50px;
    display: flex;
    position: absolute;
    left: 150px;
    top: 555px;
    border: none;
    border-bottom: 1px solid #000000;

    background-color: #f8fcff;
    color: black;
    font-size: 20px;
    padding-left: 10px;

}
.password-input:focus
{
    outline: none;
}
.password-label
{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position: absolute;
    left: 150px;
    top:505px;
    border: none;

}
.login-button
{
    width: 200px;
    height: 50px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 250px;
    top: 680px;
    background-color: white;
    color: black;
    border: 1px solid #000000;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;

}
.registerBtn {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    left: 850px;
    top: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}
.registerBtn:focus{
    outline: none;
    border: none;
}
.login-button:hover
{
    background-color: #000000;
    color: white;
}
.error-message
{
    font-size: 16px;
    display: flex;
    position: absolute;
    left: 380px;
    top: 600px;
    color: black;
}
