.homepage
{
    width: 100vw;
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.homepage-content
{
    display: flex;
    width: 500px;
    margin-top: 100px;
    font-family:  sans-serif;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
    margin-left: 100px;
    border-radius: 30px;
    background-color: rgba(21, 134, 174, 0.48);
    gap: 20px;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}
.tryit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 355px;
}

.tryit {
    padding:10px 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    background-color: #ffffff;
    border:1px solid black;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.tryit:hover {
    color: white;
    background-color: black;
    border: none;
    outline: none;
}