.homepage
{
    width: 100vw;
    background-color: #f8fcff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height:  100vh;
    position: relative;

}

.homepage-content
{
    display: flex;
    width: 500px;
    font-family:  sans-serif;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    border-radius: 30px;
    background-color: rgba(21, 134, 174, 0.48);
    gap: 20px;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.homepage-content-firstpart
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage-content-firstpart-img
{
    width: 1920px;
    height: 1080px;
    border-radius: 30px;
    object-fit: cover;
}

.homepage-content-introduction
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 350px;
    height: 1906px;
    width: 1636px;

    background-image: url("src/assets/introducebg.jpg");
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-left: 130px;
    margin-bottom: 50px;
    z-index: 0;
}
.homepage-content-introduction-part1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-left: 140px;
    color: black;
    margin-bottom: 50px;
}
.homepage-content-introduction-part1-title
{
    margin-top: -15px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.homepage-content-introduction-part1-img
{
    padding-left: 300px;
    margin-top: -30px;
    width: 500px;
    height: 250px;
    border-radius: 30px;
    object-fit: cover;
}
.homepage-content-introduction-part2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 50px;
    color: black;
    margin-bottom: 50px;
}

.homepage-content-introduction-part2-title {
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-left: 200px;
}

.homepage-content-introduction-part2-img {
    width: 500px;
    height: 250px;
    border-radius: 30px;
    object-fit: cover;
}

.homepage-content-introduction-part3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-left: 30px;
    color: black;
    margin-bottom: 50px;
}

.homepage-content-introduction-part3-title {
    margin-top: -100px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding-right:100px ;
}

.homepage-content-introduction-part3-img {
    width: 500px;
    height: 250px;
    border-radius: 30px;
    object-fit: cover;
}
.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in-left.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-in-right {
    transform: translateX(+100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in-right.active {
    transform: translateX(0);
    opacity: 1;
}

.homepage-content-title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    left: 15%;
    top: 15%;

}
.homepage-content-description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 15%;
    top: 40%;

}

.homepage-content-left-img
{
    width: 300px;
    height: 400px;

border-radius: 100px 20px 20px 20px;
    object-fit: cover;
    position: absolute;
    left: 80%;
    top: 15%;


}
.homepage-content-right-img
{
    width: 500px;
    height: 300px;

    border-radius: 100px 20px 90px 20px;
    object-fit: cover;
    position: absolute;
    left: 12%;
    top: 60%;
}
.homepage-content-overview
{
    display: flex;

    background-color: #293137;
    position: absolute;
    font-size: 15px;
    justify-content: left;
    align-items: center;

    height: 200px;
    width: 600px;
    left: 65%;
    top: 70%;
    border-radius: 100px 20px 90px 20px;

}
.homepage-content-overview-content
{
    margin-top: 20px;
    gap: 20px;
    color: #f8fcff;
    justify-content: left;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.tryit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    top: 40%;
}

.tryit {
    padding:30px 50px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    background-color: #ffffff;
    border:1px solid black;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 180px;
}

.tryit:hover {
    color: white;
    background-color: black;
    border: none;
    outline: none;
}