.Trade-container
{
    background: #f8fcff;

    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 50px;
}
.TradePage-header
{
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(55, 53, 53, 0.16);
    margin-left: 80px;
    margin-top: 110px;
    width: 1750px;
    height: 770px;
    border-radius: 10px;

}
.Trade-container-userpage
{
    display: flex;

    background: #f8fcff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    width: 600px;
    height: 600px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.Trade-container-anotheruser
{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: #f8fcff;

    width: 600px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.Trade-container-btn
{
    display: flex;
    font-size: 20px;

    padding: 10px 10px;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;

}

